<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Bootstrap demo</title>
  <link th:href="@{/css/bootstrap.min.css}"
        href=".../static" rel="stylesheet">

</head>
<body>
<div class="container">

    월요일
    화요일
    수요일
    목요일
    금요일

    <span th:each="class : ${findClassTable}">
      <label th:text="${class.getStudentName()}"></label>
      <label th:text="${class.getMonday()}"></label>
      <label th:text="${class.getTuesday()}"></label>
      <label th:text="${class.getWednesday()}"></label>
      <label th:text="${class.thursday}"></label>
      <label th:text="${class.friday}"></label>
      <label th:text="${class.getUpdateTimeStamp()}"></label><br>
    </span>
</div>
</body>
</html>