<!DOCTYPE HTML>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>Scheduler</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <style>

        body { background-color: lightgoldenrodyellow; }

        h1, h2, h5{
            text-align: center;
        }

        .text-end{
            padding: 1em;
        }

        .board {
            padding: 1em;
            margin: 1em;
            background-color: white;
        }
        .board p, .monday p, .tuesday p, .wednesday p, .thursday p, .friday p {
            text-align: center;
        }

        .form-check-label input {
            margin-right: 10px;
        }

    </style>
</head>
<body>
<div class="container">
    <form method='post' role="form" th:action="@{/admin/grant}" th:object="${teacherList}">

    </form>
</div><!-- container-->
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    $(document).ready(function() {
        $('.delete-button').click(function() {
            var studentName = $(this).attr('value');
            var confirmation = confirm('정말로 ' + studentName + '을(를) 삭제하시겠습니까?');

            if (confirmation) {
                $.ajax({
                    url: '/manage/delete',
                    method: 'POST',
                    data: { deleteClassList: studentName },
                    success: function(response) {
                        alert('삭제되었습니다.');
                        location.reload();
                    },
                    error: function(xhr, status, error) {
                        alert('삭제에 실패했습니다. 다시 시도해주세요.');
                    }
                });
            }
        });
    });
</script>
</html>