<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <style>
        .container {
            max-width: 80em;
        }

        body { background-color: lightgoldenrodyellow; }

        h1{
            text-align: center;
        }

        .form-check-label input {
            margin-right: 10px;
        }

        .board{
            padding: 1em;
            margin: 1em;
            background-color: white;
        }

        .board p{
            text-align: center;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="py-2">
        <!--monday div start-->
        <div class="board rounded-3 border border-2">
            <h1> 수업 신청이 완료되었습니다. </h1>
            <p>변경사항이 있을시 입력한 이름으로 수정해주세요<br>
                문의사항이 있을시 담당 선생님께 문의해주세요</p>

        </div>
    </div>
</div>
</body>
</html>