<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <style>
        .container {
            max-width: 80em;
        }

        body { background-color: lightgoldenrodyellow; }

        h1{
            text-align: center;
        }

        .board{
            padding: 1em;
            margin: 1em;
            background-color: white;
        }
        .board p {
            text-align: center;
        }

        .field-error {
            border-color: #dc3545;
            color: #dc3545;
        }

    </style>
</head>
<body>
<div class="container">
    <form method='post' role="form" th:action="@{/search/findClass}" th:object="${studentClass}">
        <div class="py-2">
            <div class="header">
                <br><br>

            </div>
        </div>
        <!--학생 이름-->
        <div class="py-2">
            <div class="board rounded-3 border border-2">

                <h1> 시간표 조회 </h1>
                <p>학생 이름을 입력해주세요 :)<br></p>
                <label for="studentName"></label>
                <input type="text" id="studentName" th:field="*{studentName}"
                       th:errorclass="field-error" class="form-control" placeholder="이름을 정확히 입력해주세요">
                <div class="field-error" th:errors="*{studentName}"></div><br>
                <div class="text-end">
                    <button class="btn btn-primary" type="submit">수업 조회</button></div>
                <br><br>

            </div>
        </div>
    </form>
</div><!-- container-->
</body>
</html>