<!DOCTYPE HTML>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>Scheduler</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <style>

        .container{
            max-width: 30em;
        }

        body { background-color: lightgoldenrodyellow; }

        h1{
            text-align: center;
        }

        .board{
            padding: 1em;
            margin: 1em;
            background-color: white;
        }
        .board p {
            text-align: center;
        }

        .error-message{
            color: #dc3545;
        }

    </style>
</head>
<body>
<div class="container">
    <form method='post' th:action="@{/manage/saveStudentList}" th:object="${studentObject}">
        <div class="py-2">
            <div class="header">
                <br><br>

            </div>
        </div>
        <!--학생 이름-->
        <div class="py-2">
            <div class="board rounded-3 border border-2">
                <h1> 학생 정보 등록 </h1>
                <label for="studentName"></label>
                <input class="form-control" id="studentName" placeholder="학생 이름을 입력해 주세요"
                       th:errorclass="field-error" th:field="*{studentName}"
                       type="text">

                <label for="studentPhoneNumber"></label>
                <input class="form-control" id="studentPhoneNumber" placeholder="학생 휴대전화 번호를 입력해 주세요" th:maxlength="11"
                       th:errorclass="field-error" th:field="*{studentPhoneNumber}"
                       type="text">

                <label for="studentAddress"></label>
                <input class="form-control" id="studentAddress" placeholder="주소를 입력해 주세요"
                       th:errorclass="field-error" th:field="*{studentAddress}"
                       type="text">

                <label for="studentDetailedAddress"></label>
                <input class="form-control" id="studentDetailedAddress" placeholder="상세 주소를 입력해 주세요"
                       th:errorclass="field-error" th:field="*{studentDetailedAddress}"
                       type="text">

                <label for="studentParentPhoneNumber"></label>
                <input class="form-control" id="studentParentPhoneNumber" placeholder="부모님 전화번호를 입력해 주세요" th:maxlength="11"
                       th:errorclass="field-error" th:field="*{studentParentPhoneNumber}"
                       type="text">

                <div class="error-message" th:if="${errorMessage}">
                    <p th:text="${errorMessage}"></p>
                </div><br>
                <div class="text-end">
                    <button class="btn btn-primary" type="submit">등록</button>
                </div>
                <br>
            </div>
        </div>
    </form>
</div><!-- container-->
</body>
</html>