<!DOCTYPE HTML>
<html lang="ko" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>Scheduler</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <style>

        body { background-color: lightgoldenrodyellow; }

        h1, h2, h5{
            text-align: center;
        }

        .board, .monday, .tuesday, .wednesday, .thursday, .friday{
            padding: 1em;
            margin: 1em;
            background-color: white;
        }

        .text-end{
            padding: 1em;
        }

        .board p, .monday p, .tuesday p, .wednesday p, .thursday p, .friday p {
            text-align: center;
        }

        .form-check-label {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
            font-size: 16px;
        }

        .form-check-label input {
            margin-right: 10px;
        }

        .field-error {
            border-color: #dc3545;
            color: #dc3545;
        }

    </style>
</head>
<body>
<div class="container">
    <form method='post' role="form" th:action="@{/search/submit}" th:object="${class}">
        <div class="py-2">

        </div>
        <!--학생 이름-->
        <div class="py-2">
            <div class="board rounded-3 border border-2">
                <div class="header">
                    <input name="studentName" th:value="${studentName}" type="hidden">
                    <p th:text="${studentName}"></p>
                </div>
                <div class="field-error" th:text="${error}"></div>
            </div>
        </div>
        <!--요일-->
        <div class="py-2">
            <!--monday div start-->
            <div class="monday rounded-3 border border-2">
                <h5>월요일</h5>
                <div th:each="num : ${#numbers.sequence(1,6)}">
                    <label class="form-check-label"
                           th:if="${!classInMondayList.contains(num)}">
                        <input class="form-check-input"
                               name="monday"
                               th:checked="${numStat.count==studentClassList.getMonday()}"
                               th:errorclass="field-error"
                               th:text="오후+'&nbsp;'+${numStat.count}+'시'"
                               th:value="${numStat.count}"
                               type="radio">
                    </label>
                </div>
                <div>
                    <label class="form-check-label">
                        <input class="form-check-input"
                               name="monday"
                               th:checked="${studentClassList.getMonday()==0}"
                               th:errorclass="field-error"
                               th:value="0"
                               type="radio">
                        등원하지 않습니다.
                    </label>
                </div>
                <div class="field-error" th:errors="*{monday}"></div>
            </div>
            <!--monday div ends-->
            <!--tuesday div start-->
            <div class="tuesday rounded-3 border border-2">
                <h5>화요일</h5>
                <div th:each="num : ${#numbers.sequence(1,6)}">
                    <label class="form-check-label"
                           th:if="${!classInTuesdayList.contains(num)}">
                        <input class="form-check-input"
                               name="tuesday"
                               th:checked="${numStat.count==studentClassList.getTuesday()}"
                               th:errorclass="field-error"
                               th:text="오후+'&nbsp;'+${numStat.count}+'시'"
                               th:value="${numStat.count}"
                               type="radio">
                    </label>
                </div>
                <label class="form-check-label">
                    <input class="form-check-input"
                           name="tuesday"
                           th:checked="${studentClassList.getTuesday()==0}"
                           th:errorclass="field-error"
                           th:value="0"
                           type="radio">등원하지 않습니다.
                </label>
                <div class="field-error" th:errors="*{tuesday}"></div>
            </div>
            <!--tuesday div ends-->
            <!--wednesday div start-->
            <div class="wednesday rounded-3 border border-2">
                <h5>수요일</h5>
                <div th:each="num : ${#numbers.sequence(1,6)}">
                    <label class="form-check-label"
                           th:if="${!classInWednesdayList.contains(num)}">
                    <input class="form-check-input"
                               name="wednesday"
                               th:checked="${numStat.count==studentClassList.getWednesday()}"
                               th:errorclass="field-error"
                               th:text="오후+'&nbsp'+${numStat.count}+시"
                               th:value="${numStat.count}"
                               type="radio">
                    </label>
                </div>
                <label class="form-check-label">
                    <input class="form-check-input"
                           name="wednesday"
                           th:checked="${studentClassList.getWednesday()==0}"
                           th:errorclass="field-error"
                           th:value="0"
                           type="radio">등원하지 않습니다.
                </label>
                <div class="field-error" th:errors="*{wednesday}"></div>
            </div>
            <!--wednesday div ends-->
            <!--thursday div start-->
            <div class="thursday rounded-3 border border-2">
                <h5>목요일</h5>
                <div th:each="num : ${#numbers.sequence(1,6)}">
                    <label class="form-check-label"
                           th:if="${!classInThursdayList.contains(num)}">
                    <input class="form-check-input"
                               name="thursday"
                               th:checked="${numStat.count==studentClassList.getThursday()}"
                               th:errorclass="field-error"
                               th:text="오후+'&nbsp'+${numStat.count}+시"
                               th:value="${numStat.count}"
                               type="radio">
                    </label>
                </div>
                <label class="form-check-label">
                    <input class="form-check-input"
                           name="thursday"
                           th:checked="${studentClassList.getThursday()==0}"
                           th:errorclass="field-error"
                           th:value="0"
                           type="radio">등원하지 않습니다.
                </label>
                <div class="field-error" th:errors="*{thursday}"></div>
            </div>
            <!--thursday div ends-->
            <!--friday div start-->
            <div class="friday rounded-3 border border-2">
                <h5>금요일</h5>
                <div th:each="num : ${#numbers.sequence(1,6)}">
                    <label class="form-check-label"
                           th:if="${!classInFridayList.contains(num)}">
                        <input class="form-check-input"
                               name="friday"
                               th:checked="${numStat.count==studentClassList.getFriday()}"
                               th:errorclass="field-error"
                               th:text="오후+'&nbsp'+${numStat.count}+시"
                               th:value="${numStat.count}"
                               type="radio">
                    </label>
                </div>

                <label class="form-check-label">
                    <input class="form-check-input"
                           name="friday"
                           th:checked="${studentClassList.getFriday()==0}"
                           th:errorclass="field-error"
                           th:value="0"
                           type="radio">등원하지 않습니다.
                </label>
                <div class="field-error" th:errors="*{friday}"></div>
            </div>
            <!--friday div ends-->
            <div class="text-end">
                <button class="btn btn-primary" type="submit">제출하기</button><br><br><br>
            </div>
        </div>
    </form>
</div><!-- container-->
</body>
</html>