<!DOCTYPE HTML>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>Scheduler</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <style>

        body { background-color: lightgoldenrodyellow; }

        h1{
            text-align: center;
        }

        .board{
            padding: 1em;
            margin: 1em;
            background-color: white;
        }
        .board p {
            text-align: center;
        }
        .field-error {
            border-color: #dc3545;
            color: #dc3545;
        }

    </style>
</head>
<body>
<div class="container">
    <form method='post' role="form" th:action="@{/}" th:object="${login}">
        <div class="py-2">
            <div class="header">
                <br><br>

            </div>
        </div>
        <!--학생 이름-->
        <div class="py-2">
            <div class="board rounded-3 border border-2">

                <h1> 아이디 찾기 </h1>

                <label for="adminName"></label>
                <input class="form-control" id="adminName" placeholder="이름을 입력해주세요"
                       th:errorclass="field-error" th:field="*{adminName}"
                       type="text">
                <div class="field-error" th:errors="*{adminName}"></div>

                <label for="adminEmail"></label>
                <input class="form-control" id="adminEmail" placeholder="이메일을 입력해주세요"
                       th:errorclass="field-error" th:field="*{adminEmail}"
                       type="text">
                <div class="field-error" th:errors="*{adminEmail}"></div><br>

                <div class="error-message"></div>
                <div class="text-end">
                    <button class="btn btn-primary" type="submit">아이디 찾기</button>
                </div><br><br>
            </div>
        </div>
    </form>
</div><!-- container-->
</body>
</html>